body {
  color: #D6CFCF;
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
}

body.main {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #454545;
    background-image: url("../img/bg.jpg");
    background-origin: padding-box;
    background-position: -150px top;
    background-repeat: repeat-y;
    background-size: auto auto;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height:100%; 
}

#container {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #3E3B3B;
    background-image: url("../img/container.jpg");
    background-origin: padding-box;
    background-position: 100% 0;
    background-repeat: repeat-y;
    background-size: auto auto;
    float: left;
    padding: 0 0 0 0;
    margin: 0 0 0 100px;
    width: 750px;
    height:100%; 
}

.align-left { float:left; margin: 0 15px 15px 0; } 

a {
   color: #D6CFCF;
   font-weight: bold;
   text-decoration: none;
}

h1 {
  height:100px;
  background-repeat:no-repeat;
  background-image:url('../img/activitymonitor.png');
}

h1 span {
  position:relative;
  left:130px;
  top:20px;
}